@CHARSET "ISO-8859-1";

/*
rgb(125, 25, 53) wine red
#4A96AD	blue
light blue background  rgb(192, 222, 237)
#F5F3EE dark white


twitter background rgb(230, 236, 240)
twitter selected rgb(245, 248, 250)
twitter button rgb(50, 156, 195)

*/

:root{
	--gray: rgb(230, 236, 240);
	--lightGray: rgb(245, 248, 250);
	--blue: rgb(50, 156, 195)
	
}	

*{
	margin:0;
	box-sizing:border-box;
	font-family: "Tahoma";
}

.all-container{
	max-width: 900px;
	margin: 0 auto;
}

body{
	
	background-color: var(--gray);
}

header h1{
	text-align:left;
	margin-top: 20px;
}

nav{
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin: 30px 0;
	padding: 0;
}

.option-container{
	display: flex;	
	margin-left: 0px;
}

.action-container{
	display: flex;	
	margin-right: 0px;
}

.option-input{
	
}



.nav-button{
	border: none;
	background-color: var(--blue);
	text-align: center;	
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.nav-button:hover{
	opacity: 0.8;
}



article{
	margin: auto;
    width: 100%;
}

.post{
	background-color: white;
    color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.post:hover{	
	background-color: var(--lightGray);

}


.going-input{
	
}



.modal{
	position: fixed;
	display: none;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content{	
	background-color: var(--gray);
	margin: 20% auto;
	border: 1px solid #888;
	width: 40%;
	padding: 10px;
	
}

#close-modal{
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}


@media only screen and (max-width: 900px){
	nav, .option-container, .action-container{
		flex-direction: column;
		/*fixed size for parent needed */ 
		width: 100%;
		margin: 0;
		
	}
	
	.nav-button{
		box-sizing:border-box; 

		width:100%; 
		
	}
	
	header h1{
		text-align:center;
	}
	
}
