<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Insert title here</title>
	<link th:href="@{/css/indexStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" />
</head>
<body>
	<h1>Hapns</h1>
	<!-- <p th:inline="text">hello [[${#httpServletRequest.remoteUser}]] </p> -->
	
	
	
	<div class="formContainer">
	<h3>Add a post</h3>
		<form id="create-post" action="#" th:action="@{/createPost}" th:object="${post}" method="POST">		
			<p>Description: <input type="text" th:field="*{text}" th:required="required" maxlength="255"/> </p>						
			<p>Date: <input type="date" name="dateInputString" th:required="required" /></p>
			<p>Time: <input type="time" name="timeInputString" th:required="required" /></p>
			<p><input class="submitButton" type="submit" value="Submit" /> </p>
			<p class="error-message"></p>
			
		</form>
	</div>	


<script type="text/javascript" src="/js/validation.js" /> 
</body>
</html>