<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Insert title here</title>
	<link th:href="@{/css/indexStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" />
</head>
<body>
	<h1>Hapns</h1>
	<!-- <p th:inline="text">hello [[${#httpServletRequest.remoteUser}]] </p> -->
	
	
	
	<div class="formContainer">
	<h3>Add a post</h3>
		<form action="#" th:action="@{/createPost}" th:object="${post}" method="POST">		
			
			<p>Description: <input type="text" th:field="*{text}" /> </p>
			<!-- 
			<p>Time: <input type="datetime-local" th:field="*{dateTime}" /> </p>
			 -->
			<p>date: <input type="date" th:field="*{datestring}" /></p>
			<!-- <p>time: <input type="time" th:field="*{time}" /></p> -->
			<p><input class="submitButton" type="submit" value="Submit" /> </p>
			
			
		</form>
	</div>	



</body>
</html>