

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Hapns - the latest events</title>
<link th:href="@{/css/indexStyle.css}" rel="stylesheet" />


</head>

<body>
<div class="all-container">
	<header>	
		<h1>Hapns</h1>
		<div sec:authorize="isAuthenticated()">
			<h3>Hello there, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h3>
		</div>
	</header>
	
	<nav>
		<div class="option-container">
			<!--
			SOAP
			<form th:action="@{/index}" method="GET">
				<input type="hidden" name="display" value="all" />
		    	<input class="nav-button" type="submit" value="All" />
			</form>
			<form th:action="@{/index}" method="GET">
				<input type="hidden" name="display" value="today"/>
		    	<input class="nav-button" type="submit" value="Today" />
			</form>
			<form th:action="@{/index}" method="GET">
				<input type="hidden" name="display" value="thisWeek"/>
		    	<input class="nav-button" type="submit" value="This Week" />
			</form>	
			
			  -->	
			
			<button id="option-all" class="nav-button">All</button>  
			<button id="option-today" class="nav-button">Today</button> 
			<button id="option-this-week" class="nav-button">This Week</button> 
			
						  
			  
		</div>
		
		<div class="action-container">
			<div sec:authorize="isAuthenticated()">
				<button id="create-post" class="nav-button" onclick ="showCreatePostModal()">Create Post</button>
			</div>
			
			<div sec:authorize="isAuthenticated()">
				 <form th:action="@{/logout}" method="post">
				     <input type="submit" class="nav-button" value="Log out"/>
				 </form>
			</div>
			<div sec:authorize="isAnonymous()">
				<button id="open-login" class="nav-button" onclick ="showLoginModal()">Login</button>		
			</div>			
			
			<!-- 
			<form th:action="@{/createPost}" method="GET">
			    <input class="nav-button" type="submit" value="Create post" />
			</form>
			 -->
			
			
			
		</div>
	</nav>
	
	<!-- 
	SOAP
	<article th:unless="${#lists.isEmpty(posts)}">
		<dl th:each="post : ${posts}">
			<dt class="post">
				<p>User: <span th:text="${post.user}"></span></p>
				<span th:text="|Description: ${post.text}|" class="post-text"></span>			
				<p>Date: <span th:text="${#dates.format(post.date, 'EEEE d-MMM-yyyy')}"></span></p>
				<p>Time: <span th:text="${#dates.format(post.time, 'HH:mm')}"></span></p>				
				
				<p>Going: <span th:text="${post.going}"></span>  </p>
				<p>	
					<form th:action="@{/}" method="POST">
						<input th:if="${post != null}" type="hidden" th:value="${post.id}" name="id" />
				    	<input class="small-button" type="submit" value="Going" />
					</form> 
				</p>
			</dt>		
		</dl>
	</article>	
	-->
	
	<main>
		
	
	</main>
	
	<footer>
		<button id="button-previous" class="small-button" onclick="previousPage()">Previous</button>
		<button id="button-next" class="small-button" onclick="nextPage()">Next</button>
		<span id="page-number"></span>
	</footer>
	
	
</div>
	
	<!-- background -->
	<div id="login-modal" class="modal">
		<!-- content -->
		<div class="modal-content">
			<span id="close-login" class="close-modal">&times;</span>
			
			<form th:action="@{/login}" method="post">				
				<ul class="form-style-1">
				    <li>
				        <label>Username</label>
				        <input class="field-long" type="text" placeholder="Enter Username" name="username" th:required="required"/>
				    </li>				
				    <li>
				        <label>Password</label>
				        <input class="field-long" type="password" placeholder="Enter Password" name="password" th:required="required"/>
				    </li>	
				    <li>
				    	<input class="small-button" type="submit" value="Login"/>
				    </li>							   
				</ul>
				
			</form>			
		</div>
	</div>
	
	<div id="create-post-modal" class="modal">
		<div class="modal-content">
			<span id="close-create-post" class="close-modal">&times;</span>			
			<form action="#" th:action="@{/createPost}" th:object="${post}" method="POST">
				<ul class="form-style-1">
				    <li>
				        <label>Title</label>
				        <input class="field-long" type="text" th:field="*{title}" th:required="required" maxlength="50"/>
				    </li>				
				    <li>
				        <label>Description</label>
				        <textarea class="field-long field-textarea" name="descriptionInputString" th:required="required" maxlength="255"></textarea>

				    </li>				    
				    <li>
				        <label>Date &amp; Time</label>
				        <input type="date" class="field-divided" name="dateInputString" th:required="required" />
				        <input type="time" class="field-divided" name="timeInputString" th:required="required" />
				    </li>
				
				    <li>
				        <input class="small-button" type="submit" value="Submit" />
				    </li>
				</ul>
			</form>
			
				
		</div>
	</div>
	
	
<script type="text/javascript" src="/js/modal.js" /> 
<script type="text/javascript" src="/js/rest.js" /> 

</body>
</html>