

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Hapns - the latest event</title>
<link th:href="@{/css/indexStyle.css}" rel="stylesheet" />


</head>

<body>
<div class="all-container">
	<header>	
		<h1>Hapns</h1>
		<div sec:authorize="isAuthenticated()">
			<h3>Hello there, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h3>
		</div>
	</header>
	
	<nav>
		<div class="option-container">
			<form th:action="@{/index}" method="GET">
				<input type="hidden" name="display" value="all" />
		    	<input class="nav-button" type="submit" value="All" />
			</form>
			<form th:action="@{/index}" method="GET">
				<input type="hidden" name="display" value="today"/>
		    	<input class="nav-button" type="submit" value="Today" />
			</form>
			<form th:action="@{/index}" method="GET">
				<input type="hidden" name="display" value="thisWeek"/>
		    	<input class="nav-button" type="submit" value="This Week" />
			</form>		
		</div>
		
		<div class="action-container">
			<div sec:authorize="isAuthenticated()">
				 <form th:action="@{/logout}" method="post">
				     <input type="submit" class="nav-button" value="Log out"/>
				 </form>
			</div>
			<div sec:authorize="isAnonymous()">
				<button id="open-login" class="nav-button">Login</button>		
			</div>			
			
			<form th:action="@{/createPost}" method="GET">
			    <input class="nav-button" type="submit" value="Create post" />
			</form>
		</div>
	</nav>
	
	<article th:unless="${#lists.isEmpty(posts)}">
		<dl th:each="post : ${posts}">
			<dt class="post">
				<p>User: <span th:text="${post.user}"></span></p>
				<p>Description: <span th:text="${post.text}"></span></p>				
				<p>Date: <span th:text="${#dates.format(post.date, 'EEEE d-MMM-yyyy')}"></span></p>
				<p>Time: <span th:text="${#dates.format(post.time, 'HH:mm')}"></span></p>				
				
				<p>Going: <span th:text="${post.going}"></span>  </p>
				<p>	
					<form th:action="@{/}" method="POST">
						<input th:if="${post != null}" type="hidden" th:value="${post.id}" name="id" />
				    	<input class="small-button" type="submit" value="Going" />
					</form> 
				</p>
			</dt>		
		</dl>
	</article>	
</div>
	
	<div id="login-modal" class="modal">
		<div class="modal-content">
			<span id="close-modal">&times;</span>
			
			<form class="input-container" th:action="@{/login}" method="post">
				<p><label><strong>Username</strong></label></p>
				<p><input type="text" placeholder="Enter Username" name="username" th:required="required"/></p>
				<p><label><strong>Password</strong></label></p>
				<p><input type="password" placeholder="Enter Password" name="password" th:required="required"/></p>
				<p><input class="small-button" type="submit" value="Login"/></p>
			</form>			
		</div>
	</div>
	
<script type="text/javascript" src="/js/modal.js" /> 

</body>
</html>